<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.mapper.CustomerMapper">
    <select id="findByUsername" resultType="Customer">
        SELECT * FROM customer WHERE username = #{username}
    </select>
    <select id="findById" resultType="Customer">
        SELECT * FROM customer WHERE id = #{id}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO customer (username, password, name, phone)
        VALUES (#{username}, #{password}, #{name}, #{phone})
    </insert>
</mapper>