<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.mapper.GuestMapper">
    <select id="findAll" resultType="Guest">
        SELECT * FROM guest ORDER BY id DESC
    </select>
    <select id="findById" resultType="Guest">
        SELECT * FROM guest WHERE id = #{id}
    </select>
    <select id="findByPhone" resultType="Guest">
        SELECT * FROM guest WHERE phone = #{phone} LIMIT 1
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO guest (name, phone) VALUES (#{name}, #{phone})
    </insert>
    <update id="update">
        UPDATE guest SET name=#{name}, phone=#{phone} WHERE id=#{id}
    </update>
    <delete id="delete">
        DELETE FROM guest WHERE id=#{id}
    </delete>
</mapper>